---
import ArrowIcon from "@/components/shared/icons/ArrowIcon.astro";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="Posts">
  <main class="flex flex-col gap-10">
    <h1 class="title text-primary">Posts</h1>
    <article class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <a
            class="group flex flex-col gap-2 border-t border-neutral-700 py-4 transition-all"
            href={`/posts/${post.slug}`}
          >
            <div class="flex w-full items-center justify-between">
              <h2 class="heading text-primary">{post.data.title}</h2>
              <div class="flex flex-row items-center gap-4">
                <p>{formatDate(post.data.publishedAt)}</p>
                <ArrowIcon />
              </div>
            </div>
            <p class="text-secondary">{post.data.description}</p>
          </a>
        ))
      }
    </article>
  </main>
</Layout>
