---
type Props = {
  text: string;
};

const { text } = Astro.props;
---

<span
  class="mr-1 rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:bg-gray-900 dark:text-gray-300"
>
  {text}
</span>
