---
import type { HTMLAttributes } from "astro/types";
import Icon from "./Icon.astro";

type Props = HTMLAttributes<"a"> & {
  icon?: string | null;
  label: string;
};

const { icon, label, ...props } = Astro.props;

const hasIcon = icon !== null && icon !== undefined;
---

<a
  href={props.href}
  class:list={{
    ["list flex gap-2 items-center"]: hasIcon,
    ["hover:text-black dark:hover:text-neutral-100 cursor-pointer"]: true,
  }}
  {...props}
  rel="noreferrer"
  target="_blank"
>
  {hasIcon && <Icon svg={icon!} />}
  {label}
  <span class="sr-only">{label} link</span>
</a>
