---
import Link from "./Link.astro";
import { socials } from "@/data/socials";
---

<ul class="flex flex-row gap-2">
  {
    socials.map((social, index) => (
      <>
        <li>
          <Link icon={social.icon} href={social.link} label={social.label} />
        </li>

        {socials.length - 1 !== index && <li>/</li>}
      </>
    ))
  }
</ul>
