---
import MoonIcon from "@/components/shared/icons/MoonIcon.astro";
import SunIcon from "@/components/shared/icons/SunIcon.astro";
---

<button id="astro-color-scheme-switch" class="group" title="Theme switch mode">
  <MoonIcon />
  <SunIcon />
</button>

<script>
  const setDarkModeButton = () => {
    const button = document.getElementById(
      "astro-color-scheme-switch"
    )! as HTMLButtonElement;
    button.addEventListener("click", function () {
      document.documentElement.classList.toggle("dark");
      const metaThemeColor = document.querySelector("meta[name=theme-color]");

      if (document.documentElement.classList.contains("dark")) {
        localStorage.theme = "true";
        metaThemeColor?.setAttribute("content", "#0a0a0a");
      } else {
        localStorage.theme = "false";
        metaThemeColor?.setAttribute("content", "#ffffff");
      }
    });
  };

  setDarkModeButton();
  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", setDarkModeButton);
</script>
