---
import PostSections from "@/components/index/PostSections.astro";
import Presentation from "@/components/index/Presentation.astro";
import ProjectSections from "@/components/index/ProjectSections.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <main class="flex flex-col gap-20">
    <Presentation />
    <PostSections />
    <ProjectSections />
  </main>
</Layout>
