---
import { Image } from "astro:assets";
import NavItem from "./shared/NavItem.astro";

import navigationItems from "@/data/navigation";
import removeTrailingSlash from "@/utils/removeTrailingSlash";
const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between">
  <Image
    src={"/public/favicon.svg"}
    class="w-10"
    alt="Personal logo"
    width="20"
    height="20"
  />

  <div class="flex items-center gap-2">
    <nav role="navigation" aria-label="Main navigation">
      <ul role="list" class="flex flex-row gap-2">
        {
          navigationItems.map((item) => (
            <>
              <NavItem item={item} currentPath={pathname} />
              <li>|</li>
            </>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
