---
import NavItem from "@/components/shared/NavItem.astro";
import navigationItems from "@/data/navigation";
import removeTrailingSlash from "@/utils/removeTrailingSlash";
const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-row justify-between gap-2">
  <img
    src="/favicon.svg"
    class="aspect-square"
    alt="Personal logo"
    width="40"
    height="40"
  />

  <div class="flex items-center gap-2">
    <nav role="navigation" aria-label="Main navigation">
      <ul role="list" class="flex flex-row gap-2">
        {
          navigationItems.map((item) => (
            <>
              <NavItem item={item} currentPath={pathname} />
              <li>|</li>
            </>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
