---
import LogoIcon from "@/components/shared/icons/LogoIcon.astro";
import NavItem from "@/components/shared/NavItem.astro";
import ToogleTheme from "@/components/shared/ToogleTheme.astro";
import { navigationItems } from "@/data/navigation";
import removeTrailingSlash from "@/utils/removeTrailingSlash";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-row items-center justify-between gap-2">
  <a href="/" aria-label="Logo">
    <LogoIcon />
  </a>
  <div class="flex gap-2">
    <nav>
      <ul class="flex flex-row gap-2">
        {
          navigationItems.map((item) => (
            <>
              <NavItem item={item} currentPath={pathname} />
              <li>|</li>
            </>
          ))
        }
        <ToogleTheme />
      </ul>
    </nav>
  </div>
</header>
