---
import ProjectCard from "@/components/index/ProjectCard.astro";
import { projects } from "@/data/projects";
---

{
  projects.length > 0 && (
    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h2 class="heading text-primary">{`Selected projects (${projects.length})`}</h2>
      </header>
      <section class="flex flex-col gap-4">
        {projects.map((project) => (
          <ProjectCard {...project} />
        ))}
      </section>
    </article>
  )
}
