---
import Badge from "@/components/shared/Badge.astro";
import ArrowIcon from "@/components/shared/icons/ArrowIcon.astro";
import type { Project } from "@/data/projects";

type Props = Project;

const { title, techs, link, description, isComingSoon } = Astro.props;
---

<>
  <a
    class:list={{
      ["card flex flex-col w-full gap-2 justify-between rounded-md p-4 md:flex-row md:items-center"]: true,
      ["cursor-pointer"]: !isComingSoon,
    }}
    href={!isComingSoon ? link : undefined}
    target="_blank"
    rel="noreferrer"
  >
    <div class="flex flex-col justify-between gap-2">
      <p class="text-secondary font-medium">{title}</p>
      <p class="text-secondary font-light">{description}</p>
    </div>
    <div class="flex items-center gap-3">
      <div class="truncate grow">
        {techs.map((tech) => <Badge text={tech} />)}
      </div>
      {
        !isComingSoon ? (
          <ArrowIcon />
        ) : (
          <p class="badge w-fit rounded-md px-4 py-1">Soon</p>
        )
      }
    </div>
  </a>
</>
