---
import HeadCommon from "@/components/shared/heads/HeadCommon.astro";
import HeadSEO from "@/components/shared/heads/HeadSEO.astro";
import Header from "@/components/Header.astro";
import "@/styles/tailwind.css";
import "@/styles/post.css";

type Props = {
  title: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <HeadSEO title={title} description={description} />
    <HeadCommon />
  </head>
  <body
    class="body mx-auto flex min-h-screen max-w-[872px] flex-col gap-12 px-10 py-8 text-sm md:gap-20 md:py-16"
  >
    <Header />
    <slot />
    <style is:global>
      html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      }
    </style>
  </body>
</html>
