---
import Header from "@/components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="">
  <SEOTags {...headTags} />

  <body class="mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 px-10 py-8 text-sm text-neutral-400 bg-neutral-950 md:gap-20 md:py-16">
    <Header />
    <slot />
    <style is:global>
      html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      }
    </style>
  </body>
</html>
