---
import Title from "@/components/shared/Title.astro";
import CareerSection from "@/components/career/CareerSection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Work experience">
  <main class="flex flex-col gap-10">
    <Title label="Work experience" />
    <CareerSection />
  </main>
</Layout>
