---
import CareerSection from "@/components/career/CareerSection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Work experience">
  <main class="flex flex-col gap-10">
    <h1 class="title text-primary">Work experience</h1>
    <CareerSection />
  </main>
</Layout>
